# Build output
x64/
x86/
Debug/
Release/
*.obj
*.pdb
*.ilk
*.exp
*.lib

# Visual Studio files
.vs/
*.vcxproj.user
*.VC.db
*.VC.opendb
ipch/

# Resource compiler output
*.res

*.vcxproj
*.vcxproj.filters
*.sln
.vs/

homelab_pwsg/   # folder VS z plikami projektu
x64/            # już masz ale upewnij się
*.aps           # resource.aps - plik tymczasowy VS, niepotrzebny
#*.exe           # jeśli nie chcesz exe w repo

*.sln
*.slnx
.rc